body{
    margin:0px;
}
h1 {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

h1 {
  background-color: lightgrey;
  /* padding: 20px; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
  border-right: 1px solid #bbb;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}
.pagecontentcontainer {
  display: flex;
}
.leftpagecontent {
  padding: 15px;
}
.leftpagecontent h2 {
  color: #003d60;
  margin: 0;
}
.righpagecontent {
  background-color: lightgrey;
  padding: 20px;
}

.rightpagecontent h3 {
  color: #074061;
  margin: 0;
}
.footer {
  background-color: grey;
  text-align: right;
  padding: 20px 15px 20px;
}
